body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: white;
}

.title, .addDancerButton, .lineupbutton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  
  border:50px solid red;
  border-radius:150px;
  position:absolute;
}
.classydancer{
position:absolute;
-webkit-animation: rotation 2s infinite linear;
}
.popdancer {
  position:absolute;
  /*-webkit-animation: rotation 2s infinite linear;*/
  transition: all .2s ease-in-out; 
}
.dancer:hover,
.classydancer:hover,
.popdancer:hover {
  cursor: pointer;
  transform: scale(2.1);
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}